.logo {
    margin-top: -4px;
    font: 23px Courier New, Courier, monospace;
}

@media (min-width: 350px) {
    .logo {
        font-size: 25px;
    }
}

h1, h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.summary {
    margin: 0;
    font-size: 16px;
    line-height: 2;
}

.summary__list {
    margin: 0;
}

.jumbotron {
    padding: 95px 0 30px;
}

@media (min-width: 404px) {
    .jumbotron {
        padding-top: 48px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        padding-top: 90px;
    }
}

li.active a {
    cursor: default;
}

.example-container {
    text-align: center;
}

.example {
    height: 350px;
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    text-align: center;
}

.example.example--basic {
    height: 207px;
    border-color: transparent;
}

.example:hover {
    border-color: #337ab7;
}

.example__instructions {
    height: 20px;
    width: 100%;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    color: #337ab7;
}

.highlighter {
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .highlighter {
        margin-top: 10px;
    }
}

a.highligher:link, a.highligher:active, a.highlighter:hover, a.highligher:visited {
    text-decoration: none;
}

.code-frame {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fdf6e3;
}
